 <!DOCTYPE html>
<html>
    <head>
        <title>Book List</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/home.css">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
         <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
        <script src=""></script>
    </head>
    <body>
       <%- include ../partials/main_nav.ejs %>
       <div class="centre">
                <br><br><br><br>    <br><br><br><br><hr>
  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1>Book List</h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Title</th>
                    <th class="text-center col-2">Author</th>
                    <th class="text-center col-1">Year</th>
                    <th class="col-6">Description</th>
                    <th class="text-center col-1">Price</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BookList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= BookList[count].name %></td>
                        <td class="text-center col-2"><%= BookList[count].author %></td>
                        <td class="text-center col-1"><%= BookList[count].published %></td>
                        <td class="col-6"><%= BookList[count].description %></td>
                        <td class="text-center col-1"><%= BookList[count].price %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>
</main>
        <br>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>