<!DOCTYPE html>
<html>
    <head>
        <title>Book List</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/home.css">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
         <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
        <script src=""></script>
    </head>
    <body>
       <%- include partials/main_nav.ejs %>
       <div class="centre">
                <br><br><br><br>    <br><br><br><br><hr>
  <!-- Main Content -->

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>