 <!DOCTYPE html>
<html>
    <head>
        <title>contacts</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/home.css">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
         <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
        <script src=""></script>
    </head>
    <body>
       <%- include ../partials/main_nav.ejs %>
       <div class="centre">
                <br><br><br><br>    <br><br><br><br><hr>
  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1>Contact List</h1>
            <br>
            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/contact-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a contact</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-2">Phone</th>
                        <th class="text-center col-2">Email</th>
                    <% } else { %>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-2">Phone</th>
                        <th class="text-center col-2">Email</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < contactList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-2"><%= contactList[count].name %></td>
                            <td class="text-center col-2"><%= contactList[count].phone %></td>
                            <td class="text-center col-2"><%= contactList[count].email %></td>            
                            <td class="text-center col-2">
                                <a href="/contact-list/edit/<%= contactList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-2">
                                <a href="/contact-list/delete/<%= contactList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                         <% } else { %>
                            <td class="text-center col-2"><%= contactList[count].name %></td>
                            <td class="text-center col-2"><%= contactList[count].phone %></td>
                            <td class="text-center col-2"><%= contactList[count].email %></td>  
                         <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>
</main>
        <br>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>