<%- include ../partials/header.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

                         <div class="form-group">
                    <label for="nameTextField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Survey Title"
                    name="name" 
                    value="<%= survey.title %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter the Description"
                    name="description" 
                    value="<%= survey.description %>"
                    required>
                </div>

                <div class="form-group">

                    <label for="typeTextField">Type</label>

                    <input type="text" class="form-control"
                    id="typeTextField"
                    placeholder="Enter the type of survey"
                    name="Type" 
                    value="<%= survey.type %>"
                    required>
                </div>

                <button class="btn btn-primary" type="button">Add more!</button>
                 <table id="question">

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/Home" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>



<%- include ../partials/footer.ejs %>